.resume {
    max-width: 60vw;
    color: var(--color-secondary);
    background-color: rgba(var(--primary-c), 0.7);
    padding: 10px;
    border-radius: 8px;
  }

  .resume a:visited,
  .resume a {
    color: var(--color-tertiary);
}

.resume a:hover {
    color: var(--color-secondary);
    border-bottom: 1px solid;
}

.resume h3 {
    text-align: center;
    margin-bottom: 0px;
}

.sub-info {
    text-align: center;
    color: var(--color-secondary);
    margin-top: 0px;
}

.info-links {
    text-align: center;
}

.resume h4 {
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    color: var(--color-tertiary);
}

.resume h5 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 0px;
}

.resume h6 {
    text-align: left;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

.resume ul {
    list-style-type: disc;
}

.resume-info {
    text-align: justify;
}