.navigation {
  position: relative;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 16px;
}

.navigation-links-flex {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  display: none;
}

.navigation-links-flex.open {
  display: flex;
}

.navigation-links-flex a {
  color: var(--color-secondary);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.navigation-links-flex a:hover {
  border-bottom: 1px solid;
  color: var(--color-tertiary);
}

.navigation-links-flex li {
  margin: 8px 0;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navigation-links-flex {
    flex-direction: row;
    display: flex;
  }

  .navigation-links-flex li {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .navigation-links-flex {
    display: none;
  }

  .navigation-links-flex.open {
    display: flex;
  }
}
