* {
    /* VARIABLES */
    --color-primary: rgba(47, 62, 70, 1);
    --color-secondary: rgba(202, 210, 197, 1);
    --color-tertiary: rgba(132, 169, 140, 1);

    /* COLORS FOR CUSTOM OPACITIES */
    --primary-c: 47, 62, 70;
    --secondary-c: 202, 210, 197;
    --tertiary-c: 132, 169, 140;
}
