* {
    /* VARIABLES */
    --color-primary: rgba(97, 46, 55, 1);
    --color-secondary: rgba(163, 86, 72, 1);
    --color-tertiary: rgba(246, 114, 118, 1);
    --accent: rgba(255, 192, 127, 1);
    --accent-2: rgba(255, 207, 153, 1);

    /* COLORS FOR CUSTOM OPACITIES */
    --primary-c: 97, 46, 55;
    --secondary-c: 163, 86, 72;
    --tertiary-c: 246, 114, 118;
    --accent-c: 255, 192, 127;
    --accent-2c: 255, 207, 153;
}
