@import '../overrides.css';

.about-me {
    margin-top: 50px;
    text-align: center;
    max-width: 80vw;
  }
  
  .about-me h2 {
    font-size: 24px;
    color: var(--color-tertiary);
    margin-bottom: 20px;
  }
  
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bio img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 6px double var(--color-tertiary);
  }
  
  .bio p {
    font-size: 16px;
    color: var(--color-secondary);
    line-height: 1.5;
    max-width: 60vw;
    text-align: justify;
    background-color: rgba(var(--primary-c), 0.7);
    padding: 10px;
    border-radius: 8px;
  }
  